@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/fonts";
@import "../global_styles/animations";


/////// STYLES ///////

.footer-wrapper {
  width: 100%;


  @include flex-box($flex-box-row-center-wrap...);

  .footer-image-wrapper {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
