@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/extends";
@import "../global_styles/fonts";
@import "../global_styles/animations";
@import "../global_styles/media";

/////// STYLES ///////

.header-layer {
  width: 100%;
  background: linear-gradient(to right, $color_03 37%, $white 70%);
}

.header {
  @extend %contentWrapper;
  @include flex-box($flex-box-row-center-wrap...);
  gap: 0.5em 1em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;

  border: 1px dotted red;

  /* max-width: 640px */
  @include mobilePortraitWide {
    flex-flow: column wrap;
  }
}

.header__logo-wrapper {
  width: 11.875em;
}

.header__contacts-wrapper {
  flex-grow: 1;


  @include flex-box($flex-box-row-right-wrap...);
  gap: 0.5em;
}

.header__contacts-wrapper__contacts-block {
  @include flex-box($flex-box-row-center-wrap...);
  gap: 1em;

  .phone-link {
    text-decoration: none;

    @include flex-box($flex-box-row-bottom-nowrap...);
    @include transition();

    gap: 0.625em;

    &:hover {
      transform: scale(1.05);
    }

    /* max-width: 640px */
    @include mobilePortraitWide {
      font-size: 0.9em;
    }

    &__phone-icon {
      width: 1.375em;
      fill: $color-01;
    }

    span {
      font-family: "Jost", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $color_01;

      @include init-font(1.375em, 700);

      /*max-width: 1024px*/
      @include tabletPortrait {
        font-size: 1.25em;
      }
    }
  }

  .social-icons-wrapper {
    @include flex-box($flex-box-row-center-nowrap...);
    gap: 0.625em;

    &__social-icon {
      width: 2em;

      @include transition();

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}