@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/extends";
@import "../global_styles/fonts";
@import "../global_styles/animations";
@import "../global_styles/media";

@import "./root";

/////// STYLES ///////

.header-layer {
  width: 100%;
  background: linear-gradient(to right, rgba(40, 32, 23, 1) 25%, $rgba_opacity-0 80%);
}

.header {
  font-size: 1em; //parent font-size
  position: relative;

  @extend %contentWrapper;
  @include flex-box($flex-box-row-center-wrap...);

  gap: 0.5em 1em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;

  /* mobile (portrait wide): (max-width: 640px) */
  @include maxMobilePortraitWide {
    flex-direction: column;
  }
}

.header__logo-heading {
  color: rgba(220, 220, 220, .5);
}

.header__contacts-wrapper {
  position: relative;
  z-index: 55;
  flex-grow: 1;

  @include flex-box($flex-box-row-right-wrap...);
  gap: 0.5em;
}

.header__contacts-block {
  @include flex-box($flex-box-row-center-wrap...);
  gap: 0.5em 1em;
}

.phone-link {
  text-decoration: none;
  transform-origin: 100% 50%;

  @include flex-box($flex-box-row-center-nowrap...);
  @include transition();

  gap: 0.3em;

  &:hover {
    transform: scale(1.03);
  }

  &__phone-icon {
    width: 1.375em;
    fill: $color-01;
  }

  span {
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color_01;

    @include init-font(1.375em, 700);

    /* mobile (landscape): (max-width: 768px)*/
    @include maxMobileLandscape {
      font-size: 1.2em;
    }
  }
}

.social-icons-wrapper {
  @include flex-box($flex-box-row-center-nowrap...);
  gap: 0.6em;

  &__social-icon {
    width: 1.8em;

    @include transition();

    &:hover {
      transform: scale(1.1);
    }
  }
}

.header__nav {
  width: 100%;
  padding-top: .56em;
  @include flex-box($flex-box-row-right-wrap...);

  /* mobile (landscape): (max-width: 768px)*/
  @include maxMobileLandscape {
    display: none;
  }

  &.abs {
    display: block;
    position: fixed;
    width: 100%;
    padding: 0;
    top: -110%;
    left: 0;
    z-index: 40;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(.2em);

    /* mobile (landscape): (max-width: 768px)*/
    @include maxMobileLandscape {
      display: block;  //original header__nav with display: none;
    }

    .header__nav-list-wrapper {
      width: 100%;
      max-width: $maxContentWidth;
      margin: 0 auto;

      @include flex-box($flex-box-row-right-wrap...);

      /* mobile (medium): (max-width: 375px) */
      @include maxMobileMedium {
        justify-content: center;
      }
    }

    .header__nav-list {
      padding: 3em 2.2em .5em;

      /* mobile (landscape): (max-width: 768px)*/
      @include maxMobileLandscape {
        max-width: 20em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-top: 4em;

        @include flex-box($flex-box-col-right-wrap...);
        column-gap: 0.5em;
      }

      /* mobile (portrait wide): (max-width: 640px) */
      @include maxMobilePortraitWide {
        padding-top: 7em;
      }

      /* mobile (medium): (max-width: 375px) */
      @include maxMobileMedium {
        padding-top: 10em;
        padding-right: 1.3em;
      }
    }
  }
}

.header__nav-list {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em; //parent font-size: 18px;
  font-weight: 700;

  @include flex-box($flex-box-row-center-wrap...);
  gap: 0.5em 1em;

  /* tablet (portrait): (max-width: 1024px) */
  @include maxTabletPortrait {
    font-size: 0.889em; //16px from font-size: 18px;
  }
}

.header__nav-link {
  text-decoration: none;
  color: $color-01;

  @include text-shadow(0.05em, 0.05em);
  @include transition();

  &:hover {
    color: $color-01-darken;
    @include text-shadow(0.07em, 0.07em);
    transform: translateY(-0.1em);
  }
}

.burger_nav {
  position: relative;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 133, 2, 1);
  border-radius: 50%;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: rgba(255, 133, 2, 1);

    span, span:before, span:after {
      background-color: rgba(255, 255, 255, 1);
    }

    span:before {
      top: -7px;
    }

    span:after {
      top: 7px;
    }
  }

  &.hidden {
    display: none;

    /* mobile (landscape): (max-width: 768px)*/
    @include maxMobileLandscape {
      display: inline-block;
    }
  }

  &.opened {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(211, 3, 3, 1);

    span {
      background-color: transparent;
    }

    span:before, span:after {
      background-color: rgba(211, 3, 3, 1);
    }

    // Поворот псевдоэлементов
    span:before {
      transform: rotate(45deg);
      top: 0;  // Разместить по центру
    }
    span:after {
      transform: rotate(-45deg);
      top: 0;  // Разместить по центру
    }
  }

  span, span:before, span:after {
    position: absolute;
    display: inline-block;
    width: 1.1em;
    height: 0.19em;
    background-color: $color-01;
    transition: background-color, top, transform 0.2s ease-in-out;
  }

  span {
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);

    &:before, &:after {
      content: "";
      left: 0;
    }

    &:before {
      top: -5px;
    }
    &:after {
      top: 5px;
    }

  }
}

#scrolledNav {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(.2em);
}

.scrolledNav__contacts-block {
  width: 100%;
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding: 0.4em 2em;

  @include flex-box($flex-box-row-right-wrap...);
  gap: 0.4em 1em;

  /* mobile (portrait narrow): (max-width: 480px)*/
  @include maxMobilePortraitNarrow {
    gap: 0.4em 0.7em;
  }

  /* mobile (medium): (max-width: 375px) */
  @include maxMobileMedium {
    @include flex-box($flex-box-row-center-wrap...);
  }

  .phone-link {
    span {
      /* mobile (medium): (max-width: 375px) */
      @include maxMobileMedium {
        //font-size: 1.12em;
      }
    }
  }

  .phone-link__phone-icon {
    /* mobile (portrait narrow): (max-width: 480px)*/
    @include maxMobilePortraitNarrow {
      //width: 1.1em;
    }
  }

  .social-icons-wrapper__social-icon {
    /* mobile (portrait narrow): (max-width: 480px)*/
    @include maxMobilePortraitNarrow {
      //width: 1.5em;
    }
  }

  .burger_nav {
    /* mobile (medium): (max-width: 375px) */
    @include maxMobileMedium {
      //width: 1.5em;
      //height: 1.5em;
    }
  }
}

