@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/extends";
@import "../global_styles/fonts";
@import "../global_styles/animations";
@import "../global_styles/media";

@import "./root";

/////// STYLES ///////

.header-layer {
  width: 100%;
  background: linear-gradient(to right, $color_02 20%, $rgba_opacity-0 80%);
}

.header {
  position: relative;

  @extend %contentWrapper;
  @include flex-box($flex-box-row-center-wrap...);

  gap: 0.5em 1em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;

  /* mobile (portrait wide): (max-width: 640px) */
  @include maxMobilePortraitWide {
    flex-direction: column;
  }
}

.header__logo-wrapper {
  width: 11.875em;
}

.header__contacts-wrapper {
  flex-grow: 1;

  @include flex-box($flex-box-row-right-wrap...);
  gap: 0.5em;
}

.header__contacts-block {
  @include flex-box($flex-box-row-center-wrap...);
  gap: 1em;
}

.phone-link {
  text-decoration: none;

  @include flex-box($flex-box-row-center-nowrap...);
  @include transition();

  gap: 0.625em;

  &:hover {
    transform: scale(1.05);
  }

  /* mobile (portrait narrow): (max-width: 480px)*/
  @include maxMobilePortraitNarrow {
    font-size: 0.9em;
  }

  &__phone-icon {
    width: 1.375em;
    fill: $color-01;
  }

  span {
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color_01;

    @include init-font(1.375em, 700);

    /* mobile (landscape): (max-width: 768px)*/
    @include maxMobileLandscape {
      font-size: 1.13em;
    }
  }
}

.social-icons-wrapper {
  @include flex-box($flex-box-row-center-nowrap...);
  gap: 0.625em;

  &__social-icon {
    width: 2em;

    @include transition();

    &:hover {
      transform: scale(1.1);
    }
  }
}

.header__nav {
  width: 100%;
  @include flex-box($flex-box-row-right-wrap...);

  /* mobile (landscape): (max-width: 768px)*/
  @include maxMobileLandscape {
    position: absolute;
    display: none;
  }
}

#burger_nav {
  width: 2em;
  height: 2em;
  background-color: #413930;
  display: none;

  /* mobile (landscape): (max-width: 768px)*/
  @include maxMobileLandscape {
    display: inline-block;
  }
}

.header__nav-list {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include init-font(1.125em, 700);
  @include flex-box($flex-box-row-center-wrap...);
  gap: 0.5em 1em;

  /* tablet (portrait): (max-width: 1024px) */
  @include maxTabletPortrait {
    font-size: 0.938em;
  }
}

.header__nav-link {
  text-decoration: none;
  color: $color-01;

  @include text-shadow(0.05em, 0.05em);
  @include transition();

  &:hover {
    color: $color-09;
    @include text-shadow(0.07em, 0.07em);
    transform: translateY(-0.1em);
  }
}

