@import "../global_styles/reset";
@import "../global_styles/variables";
@import "../global_styles/mixins";
@import "../global_styles/fonts";
@import "../global_styles/media";
@import "../global_styles/animations";

/////// VARS //////

:root {
  --range_120-64_max-1280px: #{calculate-dimension(1280, 641, 120, 64)};
  --range_80-64_max-1280px: #{calculate-dimension(1280, 641, 80, 64)};
  --range_80-32_max-1280px: #{calculate-dimension(1280, 641, 80, 32)};
  --range_48-32_max-1280px: #{calculate-dimension(1280, 641, 48, 32)};
  --range_32-23_max-640px: #{calculate-dimension(640, 320, 32, 23)};
  --range_24-18_max-1280px: #{calculate-dimension(1280, 641, 24, 18)};
  --range_18-16_max-1280px: #{calculate-dimension(1280, 641, 18, 16)};
}

/////// STYLES ///////
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background-color: $color-07;

  /**** user-select: none; *****/
  @include transition();

}

/*************TOP BORDER BODY****************/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  @include box-shadow(0, 10px);
}
/*****************END TOP BORDER BODY************/

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.25;
}

h2, h3, h4, h5 {
  line-height: 1.2;
}

img, svg, picture, video {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}