<footer class="section section--footer">
  <div class="section__content-layer">
    <div class="section__content-block section__content-block--row-right section__content-block--footer flex-gap-02-01">
      <div class="footer__contacts-block">
        <div class="footer__content-block-item">
          <h2 class="footer__logo-heading">Майстер-Сервіс</h2>
          <p class="footer__logo-text">Оперативне виконання послуг у Києві та Київській області</p>
        </div>
        <div class="footer__content-block-item" aria-label="Опції зв'язку з майстром">
          <a href="tel:380991019368"
             aria-label="Мобільний зв'язок з майстром"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__phone-icon">
              <svg viewBox="0 0 24 25">
                <title>phone icon</title>
                <use xlink:href="assets/img/svgIcons/sprite.mono.svg#phone"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--phone">+38 (099) 101 93 68</span>
          </a>
          <a href="viber://chat?number=+380991019368"
             aria-label="Зв'язок з майстром через Viber"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__social-icon">
              <svg viewBox="0 0 48 48">
                <title>viber icon</title>
                <use xlink:href="assets/img/svgIcons/sprite.multi.svg#viber"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--social-icon">+38 (099) 101 93 68</span>
          </a>
          <a href="https://t.me/username"
             target="_blank"
             aria-label="Зв'язок з майстром через Telegram"
             rel="noopener noreferrer nofollow"
             class="icon-link icon-link--footer"
             tabindex="0"
          >
            <div class="icon-link__social-icon">
              <svg viewBox="0 0 240 240">
                <title>telegram icon</title>
                <use xlink:href="assets/img/svgIcons/sprite.multi.svg#telegram"></use>
              </svg>
            </div>
            <span class="icon-link__text icon-link__text--social-icon">+38 (099) 101 93 68</span>
          </a>
        </div>
      </div>
      <div class="footer__content-block">
        <div class="footer__content-block-item">
          <h3 class="footer__nav-heading">Послуги:</h3>
          <nav class="footer__nav" aria-label="Навігація до послуг">
            <ul class="footer__nav-list">
              <li><a href="#securityShuttersSection"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Ролети'"
                     tabindex="0">
                Монтаж та ремонт захісних ролет
              </a></li>
              <li><a href="gates-installation-repair.html"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Ворота'"
                     tabindex="0">
                Виготовлення та ремонт воріт
              </a></li>
              <li><a href="#rollerShuttersAutomation"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Автоматизація'"
                     tabindex="0">
                Автоматизація воріт та захисних ролет
              </a></li>
              <li><a href="#barrierSection"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Шлагбауми'"
                     tabindex="0">
                Встановлення та ремонт шлагбаумів
              </a></li>
              <li><a href="#awningsSection"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Маркізи'"
                     tabindex="0">
                Виготовлення, монтаж та ремонт маркіз
              </a></li>
              <li><a href="#windowSection"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Вікна та двері'"
                     tabindex="0">
                Бронювання та ремонт вікон і дверей
              </a></li>
              <li><a href="#securitySurveillanceSection"
                     class="nav-link nav-link--footer"
                     aria-label="Перейти до послуг 'Відеонагляд'"
                     tabindex="0">
                Встановлення систем охорони та відеонагляду
              </a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>