<header class="header-wrapper" role="banner">
    <div class="image-wrapper logo">
        <img src="./assets/img/icons/logo.svg" alt="Company Logo">
    </div>
    <div class="header__banner-wrapper">
        <div class="header__contacts-wrapper">
            <div class="header__contacts-wrapper__phone-wrapper">
                <div class="image-wrapper phone-icon">
                    <img src="./assets/img/icons/phone.svg" alt="phone icon">
                </div>

                <a href="tel:380991019368" class="phone-wrapper__number">+38 (099) 101 93 68</a>
            </div>
            <div class="image-wrapper social">
                <img src="./assets/img/icons/telegram.svg" alt="telegram Logo">
            </div>
            <div class="image-wrapper social">
                <img src="./assets/img/icons/viber.svg" alt="viber Logo">
            </div>
        </div>
    </div>
</header>