<div class="header-layer">
    <header class="header" role="banner">
        <div class="header__logo-wrapper">
            <svg viewBox="0 0 190 33">
                <title>logo of the company</title>
                <use xlink:href="assets/img/svgIcons/sprite.multi.svg#logo"></use>
            </svg>
        </div>
        <div class="header__contacts-wrapper">
            <div class="header__contacts-block">
                <a href="tel:380991019368"
                   aria-label="Mobile call to Master"
                   class="phone-link"
                >
                    <div class="phone-link__phone-icon">
                        <svg viewBox="0 0 24 25">
                            <title>phone icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.mono.svg#phone"></use>
                        </svg>
                    </div>
                    <span>+38 (099) 101 93 68</span>
                </a>
                <div class="social-icons-wrapper">
                    <a href="viber://chat?number=+380991019368"
                       aria-label="Viber Chat with Master"
                       class="social-icons-wrapper__social-icon"
                    >
                        <svg viewBox="0 0 48 48">
                            <title>viber icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.multi.svg#viber"></use>
                        </svg>
                    </a>
                    <a href="https://t.me/username"
                       target="_blank"
                       aria-label="Telegram Chat with Master"
                       rel="noopener noreferrer nofollow"
                       class="social-icons-wrapper__social-icon"
                    >
                        <svg viewBox="0 0 240 240">
                            <title>telegram icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.multi.svg#telegram"></use>
                        </svg>
                    </a>
                    <button class="burger_nav hidden" aria-label="Toggle navigation" aria-expanded="false" >
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="header__nav" aria-label="navigation menu to services">
            <ul class="header__nav-list">
                <li><a href="#securityShuttersSection" class="header__nav-link">Ролети</a></li>
                <li><a href="#gatesSection" class="header__nav-link">Ворота</a></li>
                <li><a href="#securitySurveillanceSection" class="header__nav-link">Відеонагляд</a></li>
                <li><a href="#rollerShuttersAutomation" class="header__nav-link">Автоматизація</a></li>
                <li><a href="#barrierSection" class="header__nav-link">Шлагбауми</a></li>
                <li><a href="#windowSection" class="header__nav-link">Вікна та двері</a></li>
                <li><a href="#awningsSection" class="header__nav-link">Маркізи</a></li>
            </ul>
        </nav>
    </header>
</div>
