<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @@if (page && headParams && headParams[page]) {
        <meta name="description" content="@@headParams.@@page.description">
        <meta name="robots" content="@@headParams.@@page.robots">
        <title>@@headParams.@@page.title</title>
        <link rel="stylesheet" href="@@headParams.@@page.linkStyles">
        @@if (headParams[page].linkScripts && headParams[page].linkScripts.loadMode) {
            <script type="module" src="@@headParams.@@page.linkScripts.link" @@headParams.@@page.linkScripts.loadMode></script>
        }
        @@if (headParams[page].linkScripts && !headParams[page].linkScripts.loadMode) {
            <script type="module" src="@@headParams.@@page.linkScripts.link"></script>
        }
    }
    <link rel="shortcut icon" sizes="24x24" href="assets/img/24_7_24x24.ico" type="image/x-icon">
    <link rel="shortcut icon" sizes="32x32" href="assets/img/24_7_32x32.ico" type="image/x-icon">
    <link rel="shortcut icon" sizes="48x48" href="assets/img/24_7_48x48.ico" type="image/x-icon">
</head>