<div class="header-layer">
    <header class="header" role="banner">
        <h2 class="header__logo-heading">Майстер-Сервіс</h2>
        <div class="header__contacts-wrapper">
            <div class="header__contacts-block">
                <a href="tel:380991019368"
                   aria-label="Мобільний зв'язок з майстром"
                   class="icon-link"
                   tabindex="0"
                >
                    <div class="icon-link__phone-icon">
                        <svg viewBox="0 0 24 25">
                            <title>phone icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.mono.svg#phone"></use>
                        </svg>
                    </div>
                    <span class="icon-link__text icon-link__text--phone">+38 (099) 101 93 68</span>
                </a>
                <div class="social-icons-wrapper">
                    <a href="viber://chat?number=+380991019368"
                       aria-label="Зв'язок з майстром через Viber"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 48 48">
                            <title>viber icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.multi.svg#viber"></use>
                        </svg>
                    </a>
                    <a href="https://t.me/username"
                       target="_blank"
                       aria-label="Зв'язок з майстром через Telegram"
                       rel="noopener noreferrer nofollow"
                       class="social-icons-wrapper__social-icon"
                       tabindex="0"
                    >
                        <svg viewBox="0 0 240 240">
                            <title>telegram icon</title>
                            <use xlink:href="assets/img/svgIcons/sprite.multi.svg#telegram"></use>
                        </svg>
                    </a>
                    <button
                        class="burger_nav hidden"
                        aria-label="Навігація до послуг"
                        aria-expanded="false"
                        tabindex="0">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="header__nav" aria-label="Навігація до послуг">
            <ul class="header__nav-list">
                <li><a href="gates-installation-repair.html"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Ворота'"
                       tabindex="0"
                       data-type="gates"
                       target="_blank">
                    Ворота
                </a></li>
                <li><a href="rollers-installation-repair.html"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Ролети'"
                       tabindex="0"
                       data-type="rollers"
                       target="_blank">
                    Ролети
                </a></li>
                <li><a href="#rollerShuttersAutomation"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Автоматизація'"
                       tabindex="0"
                       data-type="automation">
                    Автоматизація
                </a></li>
                <li><a href="#barrierSection"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Шлагбауми'"
                       tabindex="0"
                       data-type="barriers">
                    Шлагбауми
                </a></li>
                <li><a href="#awningsSection"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Маркізи'"
                       tabindex="0"
                       data-type="awnings">
                    Маркізи
                </a></li>
                <li><a href="#windowSection"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Вікна та двері'"
                       tabindex="0"
                       data-type="windows">
                    Вікна та двері
                </a></li>
                <li><a href="#securitySurveillanceSection"
                       class="nav-link"
                       aria-label="Перейти до послуг 'Відеонагляд'"
                       tabindex="0" data-type="security">
                    Відеонагляд
                </a></li>
            </ul>
        </nav>
    </header>
</div>
