@import "mixins";
@import "variables";
@import "media";

///////EXTENDS///////

%sectionWrapper {
  border: 1px dotted red;
  padding-top: 80px;
  padding-bottom: 120px;

  /* tablet (landscape) max-width: 1280px */
  @include maxTabletLandscape {
    padding-top: calculate-dimension(1280, 639, 80, 64);
    padding-bottom: calculate-dimension(1280, 639, 120, 64);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include maxMobilePortraitWide {
    padding-top: 3.5em;
    padding-bottom: 3.56em;
  }
}

%contentWrapper {
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;


  /* tablet (landscape) max-width: 1280px */
  @include maxTabletLandscape {
    padding-right: calculate-dimension(1280, 639, 80, 32);
    padding-left: calculate-dimension(1280, 639, 80, 32);
  }

  /* mobile (portrait wide): (max-width: 640px) */
  @include maxMobilePortraitWide {
    padding-right: calculate-dimension(640, 320, 32, 24);
    padding-left: calculate-dimension(640, 320, 32, 24);
  }
}