
///DIMENSIONS
$maxWidth: 1440px;
$minWidth: 320px;
$maxContentWidth: 1280px;

///COLORS
$white: #fff;
$black: #000;
$color-01: rgba(255, 133, 2, 1);//#ff8502
$color-02: rgba(40, 32, 23, 1); //#282017;
$color-03: rgba(65, 57, 48, 1); //#413930;
$color-04: rgba(101, 92, 82, 1); //#655c52;
$color-07: rgba(220, 220, 220, 1); //#dcdcdc;
$color-08: rgba(252, 79, 79, 1); //#fc4f4f;
$color-09: rgba(211, 3, 3, 1); //#d30303;
$color-13: rgba(241, 241, 241, 1); //#f1f1f1;

/// SHADERS
$color-02_opacity-07: rgba(40, 32, 23, .7);
$rgba_opacity-0: rgba(65, 57, 48, 0);