///dimensions
$maxWidth: 1280px;
$minWidth: 320px;

///colors
$white: rgb(255, 255, 255);
$color_1: rgb(255, 133, 2);
$color_2: rgb(255, 201, 143);
$color_3: rgb(65, 57, 48);
$color_04: rgb(101, 92, 82);
$color_05: rgb(169, 155, 140);
$color_02_l: rgb(255, 228, 199);
$color_02_darker: rgb(182, 102, 15);
$color_02_darkest: rgb(128, 82, 33);
$color_07: rgb(220, 220, 220);
$color_07_light: rgb(241, 241, 241);