@import "./global_styles/reset";
@import "./global_styles/variables";
@import "./global_styles/mixins";
@import "./global_styles/extends";
@import "./global_styles/fonts";
@import "./global_styles/animations";
@import "./global_styles/media";

@import "partials/root";
@import "./partials/header";
@import "./partials/footer";


/////// STYLES ///////

.total-wrapper {
  font-size: 1rem;
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
  background-color: $white;

  /* max-width: 768px */
  @include mobileLandscape {
    //font-size: 0.938rem;
  }

  /* max-width: 375px */
  @include mobileMedium {
    font-size: 0.875rem;
  }
}

